:root {
    /* Primary */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--very-light-gray);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 85rem;
    min-height: 45rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.8rem;
    overflow: hidden;
}

.card {
    padding: 4rem 3.6rem;
    flex-basis: 33.33%;
}

.card-one {
    background-color: var(--bright-orange);
}

.card-two {
    background-color: var(--dark-cyan);
}

.card-three {
    background-color: var(--very-dark-cyan);
}

img {
    margin-bottom: 2.8rem;
}

h1 {
    color: var(--very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 4rem;
    margin-bottom: 2.4rem;
}

p {
    color: var(--transparent-white);
    font-size: 1.5rem;
    margin-bottom: 8.4rem;
}

button {
    background-color: var(--very-light-gray);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
    border-color: transparent;
    border-radius: 3rem;
    padding: 1rem 2.4rem;
}

button:hover {
    background-color: transparent;
    color: var(--transparent-white);
    border: 1.6px solid var(--very-light-gray);
    cursor: pointer;
}

.button-one {
    color: var(--bright-orange);
}

.button-two {
    color: var(--dark-cyan);
}

.button-three {
    color: var(--very-dark-cyan);
}

@media (max-width: 620px) {
    .content {
        flex-direction: column;
        margin: 5rem 2rem;
    }
}
